body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    /*background-color: #f9e3e3;*/
    font-family: 'Arial', sans-serif;
    flex-direction: column;
    background-image: url('./images/pic5.png');
    background-size: contain; /* Ensures the image covers the entire page */
    background-position: center;
    background-attachment: fixed;
  }
  
  .container {
    text-align: center;
    width: 50%;
    background-color: rgba(255, 182, 193, 0.9); /* Semi-transparent black background */
    color: black; /* White text for contrast */
    padding: 20px; /* Adds space inside the container */
    border-radius: 10px; /* Rounds the corners */
    max-width: 600px; /* Optional: Limit the width of the container */
    margin: 20px auto; /* Centers the container on the page */
    text-align: center; /* Centers the text inside */
    align-items: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #2e0707;
    text-align: center;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .yes-button {
    font-size: 1.5em;
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .no-button {
    font-size: 1.5em;
    padding: 10px 20px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .gif_container img {
    max-width: 50%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }